<form action="/books/<%= @book.id %>" method="POST">
  <input type="hidden" value="patch" name="_method">

  <label>
    Title
  </label>
    <input type="text" name="potato[title]" value="<%= @book.title %>">

  <label>
    Snippet
  </label>
    <input type="text" name="potato[snippet]" value="<%= @book.snippet %>">

  <label>
    Author
  </label>
    <%# <input type="text" name="author_id" value="<%= @book.author_id  %>
    <select name="potato[author_id]">
      <% @authors.each do |author| %>
        <% if (author.id == @book.author_id) %>
          <option value="<%= author.id %>" selected><%= author.name %></option>
        <% else %>
          <option value="<%= author.id %>"><%= author.name %></option>
        <% end %>
      <% end %>

<!--       <option value="9">Joanne Kathleen Rowling</option>
      <option value="2" selected>Stephen King</option> -->
    </select>

  <input type="submit">
</form>


