<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @secret.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= @secret.author.username %>
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
