<p id="notice"><%= notice %></p>

<h1>Secrets</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secrets.each do |secret| %>
      <tr>
        <td><%= secret.text %></td>
        <td><%= secret.author.username %></td>
        <td><%= link_to 'Edit', edit_secret_path(secret) %></td>
        <td><%= link_to 'Destroy', secret, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Show', secret %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secret', new_secret_path %>
