<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if @logged_in_user %>
        Logged in as: <%= @logged_in_user.username %>
      <% else %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Login", "/whatever" %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
