<nav id="author">
  <h3><%= @author.name %></h3>
  <ul>
    <li>
      <a href="/authors/<%= @author.id %>/edit">Edit Author</a>
    </li>
    <li>
      <form action="/authors/<%= @author.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Author">
      </form>
    </li>
  </ul>
</nav>

<ul>
  <% @author.books.each do |book| %>
    <li>
      <a href="/books/<%= book.id %>"><%= book.title %></a>
      <br>
      <%= book.snippet %>
    </li>
  <% end %>
</ul>
